body{
    background:  rgb(27,42,74);
}


.title{

    padding : 20px;
    color : white;
}
.form{
    background-color : rgb(44, 61, 98);
    color : white;
    padding : 20px;

}
.list{
    background-color : rgb(46, 68, 114);
    color : white;
    margin-bottom : 20px;

}
